<div class="row">
  <div class="col-3">
    <app-product-filter [category]="category"></app-product-filter>
  </div>
  <div class="col-9">
    <div class="row" *ngIf="cart$ | async as cart">
        <ng-container
          *ngFor="let product of filteredProducts; let i = index">
          <div class="col-4 mb-4">
            <app-product-card [product]="product" [shopping-cart]="cart"></app-product-card>
          </div>
          <!-- <div *ngIf="(i + 1) % 4 == 0" class="w-100"></div> -->
        </ng-container>
      </div>
  </div>
</div>
