/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

body {
  /* padding: 20px; */
}

.card-img-top {
  height: 200px;
}
.card-title {
  margin-bottom: 0.75rem;
  height: 70px;
  overflow: hidden;
}
